name: push

on: push

jobs:
  push:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - run: |
          wget https://github.com/jgm/pandoc/releases/download/2.9.2.1/pandoc-2.9.2.1-1-amd64.deb
          sudo dpkg -i pandoc-2.9.2.1-1-amd64.deb
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: build-essential texlive
          version: 1.0
      - run: make pdf
      - uses: actions/upload-artifact@v3
        with:
          name: resume
          path: resume.pdf